@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap');


.container {
  align-items: center;
  margin: none;
  top: 0;

  background-color: #FFF4DE;
}

.pageTitle {
  font-family: Urbanist;
  color: steelblue;
}

.pageContent {
  font-family: Urbanist;
  color: seagreen;
}